<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='/static/main3.js'></script> <!--외부스트립트파일 실행 main.js-->

    <script type="text/javascript">
        // var now=new Date();
        // document.write(now);  <!--now는 현재날짜, // 웹브라우저에 출력, f12시 Element에-->
        // console.log("날짜:"+now);  <!--개발자 콘솔창에 출력 f12번을 눌러 확인, Console에-->
        // alert('javascript~~');
    </script>

</head>
<body>
    <input type='button' value='버튼을 클릭하세요~~' onclick="alert('ok')">
    <!-- <button onclick="alert('hello')">버튼을 누르세요</button> 와 동일함 -->
</body>
</html>